<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login">Hospital Santa Sofía</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/pacients">Pacients</a>
          <a class="nav-link" href="/estudis">Estudis</a>
        </div>
      </div>
    </div>
  </nav>
<!--  
  <div class="container">
      <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <form>
                <div class="mb-3 pt-5">
                  <label for="exampleInputEmail1" class="form-label">Usuari</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contrasenya</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sessió</button>
              </form>
          </div>
          <div class="col-lg-4"></div>
        
      </div>
    
  </div> -->
  <div id="logodiv" style="color: #408CD3;">
    <h4><img id="logom" src="images/logoP.png" alt="logo"><strong style="color: #2E2E2E"> Hospital</strong> Sta. Sofia</h4>
  </div>
    <div class="login-page">
        <div class="form">
          <form action="index.html" class="login-form">
            <!-- <H2>Iniciar Sessi&#243; </H2>
            <hr><br> -->
            <!-- <img src="images/logoP.png" alt="logo" width="110px" style="margin-top: -30px; margin-bottom: 10px;"> -->
            <input type="text" placeholder="Usuari"/>
            <input type="password" placeholder="Contrassenya"/>
            <button>Entrar</button>
          </form>
        </div>
      </div>