
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login">Hospital Santa Sofía</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/pacients">Pacients</a>
          <a class="nav-link" href="/estudis">Estudis</a>
        </div>
      </div>
    </div>
  </nav>
<!--  
  <div class="container">
      <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <form>
                <div class="mb-3 pt-5">
                  <label for="exampleInputEmail1" class="form-label">Usuari</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contrasenya</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sessió</button>
              </form>
          </div>
          <div class="col-lg-4"></div>
        
      </div>
    
  </div> -->
    <!-- <div class="login-page">
        <div class="form">
          <form action="index.html" class="login-form">
            
            <input type="text" placeholder="Usuari"/>
            <input type="password" placeholder="Contrasenya"/>
            <button>Entrar</button>
          </form>
        </div>
      </div> -->
<br><br>
<div class="m-3">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      
      <div class="card">
        <!-- <img src="../images/slider2.png" class="card-img-top" alt="..."> -->
        
        
        <table class="table table-borderless">
          <thead class="table-primary">
            <tr>
              <th>
                Plataforma Hospital Santa Sofia <i class="ms-5">©LPservers</i>
              </th>
            </tr>
          </thead>
          <tbody >
            <tr >
              <td >
                Benvigut a la plataforma de l'hospital.
                <br><br> Des d'aqui pots controlar i gestionar les dades dels pacients que t'han sigut assignats.
                <br><br>
                <a class="nav-link" href="https://hospital-santa-sofia.auth.eu-west-1.amazoncognito.com/login?client_id=67sn1qv7vjmlugbqm4mk539bkq&response_type=token&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=http://localhost:4200/pacients">login</a>
              </td>
            </tr>
          </tbody>
        </table>
      
      
      </div>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>