<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/pacients">Hospital Santa Sofía</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/login">Sortir</a> 
      </div>
    </div>
  </div>
</nav>
<br>
  <a class="ps-3 pe-2" [routerLink]="['/diagnostics/'+idpacient]"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-square-fill" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.5 10V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4A.5.5 0 0 0 10.5 12z"/>
  </svg></a>
  
  Historial de <b *ngFor = "let b of boto"> {{b.info.nom}} {{b.info.cognoms}}</b>

        <br>
        <!-- <h4><label for="historial" class="form-label"  *ngFor = "let n of nom" > Historial de <i>{{n.info.nom}} {{n.info.cognoms}}</i>: </label></h4> -->
        <br>
        <div class="card mx-3">
        <table class="table table-borderless">
          <thead class="table-primary">
            <tr>
              <th scope="col"></th>
              <th scope="col">Dolència</th>
              <th scope="col">Sintomes</th>
              <th scope="col">Detecció</th>
              <th scope="col">Tractament</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let h of historial">
              <th scope="col"></th>

              <td><i>{{h[0]}}</i></td>
              <td>{{h[1].sintomes}}</td>
              <td>{{h[1].deteccio}}</td>
              <td>{{h[1].tractament}}</td>
            </tr>
          </tbody>
        </table>
      </div>



     
    