<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/principal">Hospital Santa Sofía</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/pacients">Pacients</a>
        <a class="nav-link" [routerLink]="['/diagnostics/'+pacients]">Diagnòstics</a>
        <a class="nav-link" href="/login">Sortir</a> 
      </div>
    </div>
  </div>
</nav>
  <div class="pantalla">
    <div class="pacients" >
      <div class="col" >
        <label for="historial" class="form-label"  *ngFor = "let n of nom" > Historial de <i>{{n.info.nom}} {{n.info.cognoms}}</i>: </label>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Malàltia</th>
              <th scope="col">Sintomes</th>
              <th scope="col">Detecció</th>
              <th scope="col">Tractament</th>
            </tr>
          </thead>
          <tbody class=" table-info" *ngFor="let h of historial">
            <tr>
              <td><i>{{h[0]}}</i></td>
              <td>{{h[1].sintomes}}</td>
              <td>{{h[1].deteccio}}</td>
              <td>{{h[1].tractament}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


     
    