<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/pacients">Hospital Santa Sofía</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/login">Sortir</a> 
      </div>
    </div>
  </div>
</nav>
<br>
<div class="row d-flex mx-1 mb-4">
  <div class="col-6">

    <a class="pe-1" [routerLink]="['/pacients']"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-square-fill" viewBox="0 0 16 16">
      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.5 10V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4A.5.5 0 0 0 10.5 12z"/>
    </svg></a>
    
    Diagnostics de <b *ngFor = "let b of boto">{{b.info.nom}} {{b.info.cognoms}}</b>
  

  </div>
  <div style="text-align: end;"class="col-6">
    
    Historial 
  
    <a class="ps-1" [routerLink]="['/historial/'+idpacient]"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
    </svg></a>

  </div>
</div>
 
  
<div class="row px-3">
  <div class="col-6">

    <div class="card">
      <!-- <img src="../images/slider2.png" class="card-img-top" alt="..."> -->
      
      
      <table class="table table-borderless">
        <thead class="table-primary">
          <tr>
            <th *ngFor = "let b of boto" scope="col" class="d-flex">
              <svg class="me-2" style="padding-top: 2px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 256 256" xml:space="preserve">
              <defs>
              </defs>
              <g transform="translate(128 128) scale(0.72 0.72)" >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05) scale(3.89 3.89)" >
                <path d="M 45 90 c -6.075 0 -11 -4.925 -11 -11 V 11 c 0 -6.075 4.925 -11 11 -11 s 11 4.925 11 11 v 68 C 56 85.075 51.075 90 45 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(43,214,59); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path d="M 79 56 H 11 C 4.925 56 0 51.075 0 45 s 4.925 -11 11 -11 h 68 c 6.075 0 11 4.925 11 11 S 85.075 56 79 56 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(43,214,59); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
              </g>
              </svg> Inserir diagnòstic de {{b.info.nom}} {{b.info.cognoms}}:
              <br></th>
          </tr>
        </thead>
        <tbody >
          <tr >
            
            <td >

              <form>
                <div class="mb-4" >
                  <div class="row mb-3">
                    <div class="col-lg-6">Num TSI: <input *ngFor = "let b of boto" type="text"  disabled class="form-control" id="data" placeholder="{{b.idpacient}}">
                      </div>
                    <div class="col-lg-6">Data: <input [(ngModel)]='data' type="text" class="form-control" id="data" placeholder="DD/MM/YYYY"></div>
                  </div>
                  Conclusió: <input [(ngModel)]='conclusio' type="text" class="form-control" id="data" placeholder="...">
                  <div class="row my-3">
                    <div class="col-lg-6">
                      
                 Descripció:
                 <textarea [(ngModel)]='descripcio' class="form-control" aria-label="With textarea" id="descripcio"placeholder="Descripció..."></textarea>

                    </div>
                    <div class="col-lg-6">
                      Recepta:                  <textarea [(ngModel)]='recepta' class="form-control" aria-label="With textarea" id="recepta" placeholder="Recepta..."></textarea>

                 
                    </div>
                  </div>
                 
                
                </div>
                <button style = "border-color: rgb(43,214,59);background-color:rgb(43,214,59)"  type="button" class=  "btn btn-primary" (click)="inserirdades(conclusio)">Inserir</button>
              
              </form>

            </td>
          </tr>
        </tbody>
      </table>
    
    
    </div>
   

  </div>
  <div class="col-6">
    <!-- <h4><label for="diagnostic" class="form-label"  *ngFor = "let b of boto" >Llistat dels diagnòstics de <i>{{b.info.nom}} {{b.info.cognoms}}</i>: </label></h4>  -->
    
    <div class="card">
      <table class="table table-borderless">
        <thead class=" table-primary " >
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Descripció</th>
            <th scope="col">Recepta</th>
            <th scope="col">Conclusió</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let d of diagnostic">
            <td>{{d.detalls.data}}</td> 
            <td>{{d.detalls.descripcio}}</td>
            <td>{{d.detalls.recepta}}</td>
            <td>{{d.dolencia}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>