<div class="pantalla">
    <div class="pacients" >
      Pacients
      <br>
      <br>
      <div class="col" *ngFor="let p of pacients" >
        Nom Pacient:
        <!-- <a [routerLink]="['/peliculesdetall/'+p.id]" class="text-dark">{{p.titolpelicula}}</a> -->
        <a [routerLink]="['/historialpacients/'+p.info.idpacient]">{{p.info.nom}}</a>
        <br>
        <!-- <a  class="text-dark"> Director: {{p.director}}</a> -->
        <!-- <br>
        <br>
        <img [src]="p.imatge">
        <br>
        <br>
        <a  class="text-dark"> Valoracio: {{p.valoracio}}</a>
        <button type="button" class="btn btn-dark">+</button>
        <button type="button" class="btn btn-dark">-</button>
        <br>
        <br>  
         -->
       
    </div>
    </div>