<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/principal">Hospital Santa Sofía</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"[routerLink]="['/diagnostics/'+pacients]">Diagnòstics</a>
      </div>
    </div>
  </div>
</nav>
<div class="pantalla">
    <div class="pacients" >
      <div class="col" >
        Llistat dels pacients:
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Cognoms</th>
              <th scope="col">Data i hora de naixament</th>
              <th scope="col">Sexe</th>
              <th scope="col">Adreça</th>
              <th scope="col">Correu</th>
              <th scope="col">Telèfon</th>
            </tr>
          </thead>
          <tbody  *ngFor="let p of pacients">
            <tr>
              <td [routerLink]="['/historial/'+p.idpacient]">{{p.info.nom}}</td>
              <td>{{p.info.cognoms}}</td>
              <td>{{p.info.datanaix}}</td>
              <td>{{p.info.sexe}}</td>
              <td>{{p.contacte.adreca}}</td>
              <td>{{p.contacte.correu}}</td>
              <td>{{p.contacte.telefon}}</td>
            </tr>
          </tbody>
        </table>

        <br>   
    </div>
    </div>