<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/pacients">Hospital Santa Sofía</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/login">Sortir</a> 
      </div>
    </div>
  </div>
</nav>

<div class="row mx-1 mt-3">
  <div class="col-lg-6">
    <div class="card ">
      <!-- <img src="../images/slider2.png" class="card-img-top" alt="..."> -->
      
      
      <table class="table table-borderless">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="d-flex"><svg class="me-2" style="padding-top: 2px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 256 256" xml:space="preserve">
              <defs>
              </defs>
              <g transform="translate(128 128) scale(0.72 0.72)" >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05) scale(3.89 3.89)" >
                <path d="M 45 90 c -6.075 0 -11 -4.925 -11 -11 V 11 c 0 -6.075 4.925 -11 11 -11 s 11 4.925 11 11 v 68 C 56 85.075 51.075 90 45 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(43,214,59); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path d="M 79 56 H 11 C 4.925 56 0 51.075 0 45 s 4.925 -11 11 -11 h 68 c 6.075 0 11 4.925 11 11 S 85.075 56 79 56 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(43,214,59); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
              </g>
              </svg> Afegir un nou pacient a la base de dades de l'hospital</th>
          </tr>
        </thead>
        <tbody >
          <tr >
            
            <td >

              <form>
                <div class="mb-3" >
                  <div class="row  mb-3">
                    <div class="col-lg-6">
                      Nom: <input type="text" class="form-control" id="data" placeholder="Nom...">
                    </div>
                    <div class="col-lg-6">
                      Cognoms: <input type="text" class="form-control" id="data" placeholder="Cognoms...">
                    </div>
                  </div>
                  <div class="row  mb-3">
                    <div class="col-lg-6">
                      Num TSI: <input type="text" class="form-control" id="data" placeholder="AAAA0000000000">
                    </div>
                    <div class="col-lg-6">
                      Data de naixament: <input type="text" class="form-control" id="data" placeholder="DD/MM/YYYY HH:MM:SS">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-2">
                      Sexe:
                      <select class="form-select" aria-label="Default select example">
                        <option value="1">H</option>
                        <option value="2">D</option>
                      </select>
                    </div>
                    <div class="col-lg-6">
                      Adreça: <input type="text" class="form-control" id="data" placeholder="C/ ... n0">
                    </div>
                    <div class="col-lg-4">
                      Municipi <input type="text" class="form-control" id="data" placeholder="Municipi...">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      Correu: <input type="text" class="form-control" id="data" placeholder="exemple@exemple.com">
                    </div>
                    <div class="col-lg-6">
                      telefon: <input type="text" class="form-control" id="data" placeholder="000 000 000">
                    </div>
                  </div>
                </div>
                 
                
                <div class="float-right">
                  <button style = "border-color: rgb(43,214,59);background-color:rgb(43,214,59)" type="button" class="btn btn-success float-right" >Inserir</button>

                </div>
              </form>

            </td>
          </tr>
        </tbody>
      </table>
    
    
    </div>
    
  </div>
  <div class="col-lg-6">

    <div class="card">
      <!-- <img src="../images/slider2.png" class="card-img-top" alt="..."> -->
      
      
      <table class="table table-borderless">
        <thead class="table-primary">
          <tr>
            <th scope="col" class="d-flex"><svg class="me-2" style="padding-top: 2px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 256 256" xml:space="preserve">
              <defs>
              </defs>
              <g transform="translate(128 128) scale(0.72 0.72)" >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05) scale(3.89 3.89)" >
                <path d="M 45 90 c -6.075 0 -11 -4.925 -11 -11 V 11 c 0 -6.075 4.925 -11 11 -11 s 11 4.925 11 11 v 68 C 56 85.075 51.075 90 45 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(43,214,59); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path d="M 79 56 H 11 C 4.925 56 0 51.075 0 45 s 4.925 -11 11 -11 h 68 c 6.075 0 11 4.925 11 11 S 85.075 56 79 56 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(43,214,59); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
              </g>
              </svg> Diagnostic pacient extern</th>
          </tr>
        </thead>
        <tbody >
          <tr >
            
            <td >

              <form>
                <div class="mb-3" >
                  Num TSI: <input type="text" class="form-control" id="data" placeholder="AAAA0000000000">
                  <div class="mt-3">
                 Data: <input type="text" class="form-control" id="data" placeholder="DD/MM/YYYY">
                  </div>
                 <div class="row my-3">
                    <div class="col-lg-6">
                      
                 Descripció:
                 <textarea style="height: 116px;" class="form-control" aria-label="With textarea" id="descripcio"placeholder="Descripció..."></textarea>

                    </div>
                    <div class="col-lg-6">
                      Recepta:                  <textarea style="height: 116px;" class="form-control" aria-label="With textarea" id="recepta" placeholder="Recepta..."></textarea>

                 
                    </div>
                  </div>
                 
                </div>
                <div class="float-right">
                  <button style = "border-color: rgb(43,214,59);background-color:rgb(43,214,59)" type="button" class="btn btn-success float-right" >Inserir</button>

                </div>
              </form>

            </td>
          </tr>
        </tbody>
      </table>
    
    
    </div>
  </div>

</div>

<div class="row ms-1 me-3 my-4">
  <div class="col-lg-6"> 
    <h4 class="p-0">Llistat dels pacients assignats:</h4> </div>
  <div class="col-lg-6 float-right"> 
    
    <div style=" width: 35%; right: -65%;margin-left: 10px;" class="input-group">
      <input [(ngModel)]='cerca' type="text"  class="form-control" placeholder="AAAA 0 000000 00 0" aria-label="Recipient's username" aria-describedby="basic-addon2">
      
        <button class="btn btn-secondary" type="button" [routerLink]="['/diagnostics/'+cerca]">Cerca</button>
  
    </div>
    </div>
</div>

    <div class="card mx-3">
      <!-- <img src="../images/slider2.png" class="card-img-top" alt="..."> -->
      
      
      <table class="table table-borderless">
        <thead class="table-primary">
          <tr>
            <th scope="col">TSI</th>
            <th scope="col">Nom i cognoms</th>

            <th scope="col">Data i hora de naixament</th>
            <th scope="col">Sexe</th>
            <th scope="col">Adreça</th>
            <th scope="col">Municipi</th>
            <th scope="col">Correu</th>
            <th scope="col">Telèfon</th>
            <th scope="col">Historial</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let p of pacients">
            
            <td style="cursor: pointer;" [routerLink]="['/diagnostics/'+p.idpacient]">{{p.idpacient}}</td>
            <td style="cursor: pointer;" [routerLink]="['/diagnostics/'+p.idpacient]">{{p.info.nom}} {{p.info.cognoms}}</td>

            <td>{{p.info.datanaix}}</td>
            <td>{{p.info.sexe}}</td>
            <td>{{p.contacte.adreca}}</td>
            <td>{{p.contacte.municipi}}</td>
            <td>{{p.contacte.correu}}</td>
            <td>{{p.contacte.telefon}}</td>
            <td style="text-align: center;"><a style="color: green;" [routerLink]="['/historial/'+p.idpacient]"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
              <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
            </svg></a></td>
          </tr>
        </tbody>
      </table>


    </div>