<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/principal">Hospital Santa Sofía</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/login">Entrar</a> 
        </div>
      </div>
    </div>
  </nav>
  <div class="card mt-5 mx-3">
    <table class="table table-borderless">
      <thead class="table-primary">
        <tr>
          <th scope="col"></th>
          <th scope="col">Pacient</th>
          <th scope="col">Dolència</th>
          <th scope="col">Detecció</th>
          <th scope="col">Sintomes</th>
          <th scope="col">Tractament</th>
          <th scope="col">Sexe</th>
          <th scope="col">Data de naixament</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let e of encriptades">
          <th scope="col"></th>
          <td>{{e.idpacient}} </td>
          <td>{{e.dolencia}}  </td>
          <td>{{e.deteccio}}  </td>
          <td>{{e.sintomes}}  </td>
          <td>{{e.tractament}}</td>
        </tr>
      </tbody>
    </table>
  </div><div class="card mt-5 mx-3">
    <table class="table table-borderless">
      <thead class="table-primary">
        <tr>
          <th scope="col"></th>
          <th scope="col">Pacient</th>
          <th scope="col">Sexe</th>
          <th scope="col">Dolència</th>
          <th scope="col">Detecció</th>
          <th scope="col">Sintomes</th>
          <th scope="col">Tractament</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let pe of pacientE">
          <th scope="col"></th>

          <td>{{pe.sexe}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>